<!-- <p>login works!</p> -->

<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="login-wrap py-5">
          <h3 class="text-center mb-0">Logare</h3>
          <form [formGroup]="loginForm" class="login-form" action="#">
            <div class="form-group">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-person"></i>
              </div>
              <input
                class="form-control"
                type="text"
                placeholder="Email"
                required=""
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-lock"></i>
              </div>
              <input
                class="form-control"
                type="password"
                placeholder="Parola"
                required=""
                formControlName="password"
              />
            </div>
          </form>
          <div class="buttons">
            <div class="txt">
              <a href="login/register"
                >Nu ai cont? Creează unul
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>
            <div>
              <button
                class="btn btn-primary rounded submit"
                (click)="login()"
                type="submit"
                [disabled]="loginForm.invalid"
              >
              Conectează-te
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
