.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.7s ease-in-out;
}

.dust {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 1)90%);
    pointer-events: none;
}

.dust3 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.6) 90%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
}

.dust-top {
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 5%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
}

.map {
    margin: auto;
}

.pop-up-container {
    width: 50rem;
    height: 27.5rem;
    opacity: 1;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: 20px;
    background: rgba(121, 87, 53, 0.65);
    color: white;
}

.low-opacity {
    opacity: 0.7;
}

.close-button {
    position: absolute;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
}

.row-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.pop-up-custom-button {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    border: 1px solid var(--coyote);
    background-color: white;
    opacity: 0.8;
    color: black;
    box-shadow: 3px 3px 3px 3px rgb(80, 33, 4, 0.8);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.pop-up-custom-button:hover {
    box-shadow: 4px 6px 5.3px 6px rgb(80, 33, 4, 0.8);
}

.centered {
    margin-top: 4rem;
}

.button-text {
    position: absolute;
    bottom: 1rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}
