<div class="wrapper" [ngClass]="{'low-opacity' : selectedPrincipat != ''}">
    <div class="map-wrapper">
        <div class="dust-top"></div>
        <app-home-page-map (eventEmitter)="selectPrincipat($event)"></app-home-page-map>
    </div>
    <div class="dust3"></div>
</div>
<div class="dust"></div>

<div class="pop-up-container" *ngIf="selectedPrincipat != '' ">

    <div class="close-button" (click)="selectPrincipat('')">
        <i class="bi bi-x-lg"></i> </div>

    <div class="row-content">
        <div class="title">
            {{selectedPrincipat}}
        </div>
    </div>
    <div class="row-content margined-top" style="justify-content: space-evenly;">

        <div class="pop-up-custom-button">
            <img class="pop-up-button-icon" style="width: 6rem;" src="../../../../assets/qmark.png" alt="">
            <div class="button-text row-content">
                QUIZZ
            </div>
        </div>

        <div class="pop-up-custom-button">
            <img class="pop-up-button-icon" src="../../../../assets/dices.png" alt="">
            <div class="button-text row-content">
                GAMES
            </div>
        </div>



    </div>


</div>
