<div class="my-content">
  <div class="card1">
    <div class="hint-up">
      <button
        *ngIf="!seeHint"
        class="btn btn-warning hint-btn"
        type="button"
        (click)="showHint()"
      >
        Hint
      </button>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ quiz.text }}</h2>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
        <label
          class="options"
          *ngFor="let answer of answers"
          (click)="select(answer)"
          >{{ answer.text }} <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div *ngIf="!seeHint" class="card-footer" id="card1-footer">
      <button
        class="btn btn-success submit-btn"
        type="button"
        (click)="nextQuestion()"
        [disabled]="selectedAnswer ? false : true"
      >
        Next
      </button>
    </div>
    <div class="card-footer" *ngIf="seeHint">
      <div class="hint">{{ quiz.hint }}</div>
      <button
        class="btn btn-success submit-btn"
        type="button"
        (click)="nextQuestion()"
        [disabled]="selectedAnswer ? false : true"
      >
        Next
      </button>
    </div>
  </div>
  <div class="card2" *ngIf="showCard > 1">
    <div class="hint-up">
      <button
        *ngIf="!seeHint"
        class="btn btn-warning hint-btn"
        type="button"
        (click)="showHint()"
      >
        Hint
      </button>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ quiz.text }}</h2>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
        <label
          class="options"
          *ngFor="let answer of answers"
          (click)="select(answer)"
          >{{ answer.text }} <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="card-footer">
      <button
        class="btn btn-danger submit-btn"
        type="button"
        (click)="previousQuestion()"
      >
        Previous
      </button>
      <div class="hint" *ngIf="seeHint">{{ quiz.hint }}</div>
      <button
        class="btn btn-success submit-btn"
        type="button"
        (click)="nextQuestion()"
        [disabled]="selectedAnswer ? false : true"
      >
        Next
      </button>
    </div>
  </div>
  <div class="card3" *ngIf="showCard > 2">
    <div class="hint-up">
        <button
          *ngIf="!seeHint"
          class="btn btn-warning hint-btn"
          type="button"
          (click)="showHint()"
        >
          Hint
        </button>
      </div>
    <div class="card-body">
      <h2 class="card-title">{{ quiz.text }}</h2>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
        <label
          class="options"
          *ngFor="let answer of answers"
          (click)="select(answer)"
          >{{ answer.text }} <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="card-footer">
      <button
        class="btn btn-danger submit-btn"
        type="button"
        (click)="previousQuestion()"
      >
        Previous
      </button>
      <div class="hint" *ngIf="seeHint">{{ quiz.hint }}</div>
      <button
        class="btn btn-success submit-btn"
        type="button"
        (click)="nextQuestion()"
        [disabled]="selectedAnswer ? false : true"
      >
        Next
      </button>
    </div>
  </div>
  <div class="card4" *ngIf="showCard > 3">
    <div class="hint-up">
        <button
          *ngIf="!seeHint"
          class="btn btn-warning hint-btn"
          type="button"
          (click)="showHint()"
        >
          Hint
        </button>
      </div>
    <div class="card-body">
      <h2 class="card-title">{{ quiz.text }}</h2>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
        <label
          class="options"
          *ngFor="let answer of answers"
          (click)="select(answer)"
          >{{ answer.text }} <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="card-footer">
      <button
        class="btn btn-danger submit-btn"
        type="button"
        (click)="previousQuestion()"
      >
        Previous</button>
      <div class="hint" *ngIf="seeHint">{{ quiz.hint }}</div>
      <button
        class="btn btn-success submit-btn"
        type="button"
        (click)="nextQuestion()"
        [disabled]="selectedAnswer ? false : true"
      >
        Next
      </button>
    </div>
  </div>
  <div class="card5" *ngIf="showCard > 4">
    <div class="hint-up">
        <button
          *ngIf="!seeHint"
          class="btn btn-warning hint-btn"
          type="button"
          (click)="showHint()"
        >
          Hint
        </button>
      </div>
    <div class="card-body">
      <h2 class="card-title">{{ quiz.text }}</h2>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
        <label
          class="options"
          *ngFor="let answer of answers"
          (click)="select(answer)"
          >{{ answer.text }} <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="card-footer">
      <button
        class="btn btn-danger submit-btn"
        type="button"
        (click)="previousQuestion()"
      >
        Previous</button>
      <div class="hint" *ngIf="seeHint">{{ quiz.hint }}</div>
      <button
        class="btn btn-success submit-btn"
        type="button"
        [disabled]="selectedAnswer ? false : true"
      >
        Submit
      </button>
    </div>
  </div>
</div>
