<div class="container rounded mt-5 mb-5">
  <div class="row">
    <div class="col-md-5 border-right" id="user-info">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1 class="text-right">Datele contului</h1>
          <h3 class="points">
            <h5>Puncte:&nbsp;</h5>
            <h4>{{ form.controls.usablePoints.value }}</h4>
          </h3>
        </div>

        <form [formGroup]="form">
          <div class="row mt-2">
            <div class="col-md-12">
              <label class="labels">Prenume</label
              ><input
                type="text"
                class="form-control input"
                placeholder="Prenume"
                formControlName="firstName"
                required
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Nume</label
              ><input
                type="text"
                class="form-control input"
                placeholder="Nume"
                formControlName="lastName"
                required
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Email</label
              ><input
                type="text"
                class="form-control input"
                placeholder="Email"
                formControlName="email"
                required
              />
            </div>
          </div>
        </form>
        <div class="mt-5 text-center" id="buttons">
          <button
            class="btn btn-primary reset-button"
            type="button"
            (click)="open(content)"
          >
            Resetează Parola
          </button>
          <button
            class="btn btn-primary profile-button"
            type="button"
            *ngIf="form.dirty && !form.invalid"
            (click)="save()"
          >
          Salvează Modificările
          </button>
          <button
            class="btn btn-primary delete-button"
            type="button"
            (click)="openDeletePopUp(modal_content)"
          >
            Șterge Contul
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Resetează Parola</h4>
    <button
      type="button"
      class="btn btn-primary delete-button"
      aria-label="Close"
      (click)="modal.dismiss(); resetPasswordForm()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="resetPassForm" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="m-4 form-group justify-content-center">
        <div class="col-md-12">
          <label class="labels">Parola Nouă</label>
          <input
            type="password"
            class="form-control pass"
            name="password"
            formControlName="password"
            aria-describedby="password"
            required
          />
        </div>

        <div class="col-md-12">
          <label class="labels">Confirmă Parola Nouă</label>
          <input
            type="password"
            class="form-control pass"
            name="repeatPassword"
            formControlName="repeatPassword"
            aria-describedby="repeatPassword"
            required
          />
        </div>

        <div
          class="col-md-12 error-message"
          *ngIf="resetPassForm.dirty && resetPassForm.valid === false"
        >
          Câmp invalid!
        </div>

        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary reset-button"
            (click)="modal.close('Save click'); submit()"
            [disabled]="resetPassForm.invalid || resetPassForm.pristine"
          >
            Salvează
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #modal_content let-modal>
    <div class="modal-header-popup">
      <h5 class="modal-title-popup" id="confirmModalLabel">Șterge Contul</h5>
    </div>
    <div class="modal-body-popup">
      <h5 class="modal-text-popup">
        Ești sigur că vrei să-ți ștergi contul?
      </h5>
    </div>
    <div class="modal-footer-popup">
      <button
        type="button"
        class="btn btn-secondary btn-lg mr-2 rounded-lg"
        (click)="modal.dismiss()"
      >
        Anulează
      </button>
      <button
        type="button"
        class="btn btn-danger btn-lg rounded-lg"
        (click)="delete()"
      >
        Șterge
      </button>
    </div>
  </ng-template>