<div class="container rounded mt-5 mb-5">
  <div class="row">
    <div class="col-md-5 border-right" id="user-info">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1 class="text-right">Profile Settings</h1>
          <h3 class="points"><h5>Points:&nbsp;</h5> <h4>{{points}}</h4></h3>
        </div>

        <form [formGroup]="form">
          <div class="row mt-2">
            <div class="col-md-12">
              <label class="labels">First Name</label
              ><input
                type="text"
                class="form-control"
                placeholder="First Name"
                formControlName="firstName"
                required
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Last Name</label
              ><input
                type="text"
                class="form-control"
                placeholder="Last Name"
                formControlName="lastName"
                required
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Email</label
              ><input
                type="text"
                class="form-control"
                placeholder="Email"
                formControlName="email"
                required
              />
            </div>
          </div>
        </form>
        <div class="mt-5 text-center" id="buttons">
          <button class="btn btn-primary reset-button" type="button">
            Reset Password
          </button>
          <button class="btn btn-primary profile-button" type="button">
            Save Changes
          </button>
          <button class="btn btn-primary delete-button" type="button">
            Delete Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>