.SliderBoard {
  text-align: center;
}

.hide-tile {
  opacity: 0;
}
.play {
  width: auto !important;
}
.image {
  height: 100px;
  width: 100px;
  position: relative;
  text-align: start;
}

img {
  position: absolute;
  height: 100px;
  width: 100px;
}

.container-fluid {
  height: calc(100vh - 60px);

  text-align: center;
  align-items: center;
  align-content: center;
}
.row {
  height: 100%;
}
.SliderBoardBorder {
  vertical-align: bottom;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.modal-text-popup {
  text-align: center !important;
  cursor: pointer;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.modal-footer-popup {
  text-align: center;
  margin-top: 1.35rem;
  margin-bottom: 1.8rem;
}
